$mdc-theme-primary: #ffcf44;
$mdc-theme-on-primary: #33333d;
$mdc-theme-secondary: #ffcf44;
$mdc-theme-on-secondary: #ffffff;
$mdc-theme-surface: #33333d;
$mdc-theme-on-surface: #ffffff;
$mdc-theme-background: #33333d;
$mdc-theme-on-background: #ffffff;
