<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <button class="mdc-button" (click)="toggleDialog()">About</button>
      <h1 class="mdc-typography--headline4 cd-layout--text__center">
        I want to
        <div appMdcInit class="mdc-text-field cd-layout--title-input">
          <input type="text" id="my-text-field" class="mdc-text-field__input" [(ngModel)]="task" />
          <div class="mdc-line-ripple"></div>
        </div>
        every day
      </h1>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1" *ngFor="let month of months">
      <app-month [month]="month"></app-month>
    </div>
  </div>
</div>

<div
  class="mdc-dialog"
  role="alertdialog"
  aria-modal="true"
  aria-labelledby="my-dialog-title"
  aria-describedby="my-dialog-content"
>
  <div class="mdc-dialog__container">
    <div class="mdc-dialog__surface">
      <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
      <h2 class="mdc-dialog__title" id="my-dialog-title">
        <!--
        -->The "Every Day Calendar"<!---->
      </h2>
      <div class="mdc-dialog__content" id="my-dialog-content">
        <p>
          An idea by
          <a href="https://www.youtube.com/channel/UC3KEoMzNz8eYnwBC34RaKCQ">"Simone Giertz"</a>.
        </p>
        <p>
          Web version created by
          <a href="https://github.com/HiveSolution">"RenokK/HiveSolution"</a>.
        </p>
        <p>
          You can find the project on
          <a href="https://github.com/HiveSolution/everyday-calendar">Github</a>.<br />
          Feel free to fork/clone the project and change everything you want.
        </p>
      </div>
    </div>
  </div>
  <div class="mdc-dialog__scrim"></div>
</div>
